.head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:rgb(8, 195, 237);
        color: white;
        height: 80px;
        align-items: center;
        position : sticky;
        top: 0;
        padding: 0 5px 0 5px;
}
.a{
    padding: 0 20px 0 20px;
}
#b{
    padding: 0 40px 0 40px; 
    border: 3px solid white;
    border-radius:15px ;
}
#b:hover {background-color:white; color: black;} 
.c{
    background-color:rgb(8, 195, 237);
    height: 592px;
}
.d{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:65px;
    font-size: 60px;
    color:white;
}
.e{
    background-image: url("https://images.unsplash.com/photo-1620554918659-3f64bce0ac8e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    color:white;
}
.x{
    background-image: url("https://images.unsplash.com/photo-1630349607648-1813b1ccd581?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    color:white;
}
.g{
    height: 95px;
    width:95px;
    border:1px solid white;
    border-radius: 43px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 75px 0 0 193px;
    display:flex
}
.i{
    align-items: center;
    display: flex;
    justify-content: center;
    width:100%;
    height: 400px;;
}
.j{
    width:90%;
    height:400px;
    text-align: center;
}
.y{
    height: 429px;
    width:24.73vw;
    margin:22px 0 0 0;
    padding: 50px 0 0 0;
}
.l{
    height:50px;
    width:50px;
    display:flex;
}
.k{
    margin:20px 0 20px 30px;
}